.Absolute-Center {
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
}

.center-position {
    margin: auto;
    display: block;
}

.header-center-width {
    width: 25%;
}

.text-center-position {
    text-align: center;
}

.Absolute-Center.is-Responsive {
    width: 50%;
    height: 50%;
    min-width: 200px;
    max-width: 400px;
    padding: 40px;
}

#logo-container{
    margin: auto;
    margin-bottom: 10px;
    width:200px;
    height:30px;
}

.logo-in-header {
    width: 160px;
    height: 20px;
    display: inline;
    position: absolute;
    margin-top: 12px;
}

.error {
    color: red;

}

.navbar-right {
    float: right;
}

.content-area {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

.inline-element {
    display: inline;
}

.success {
    color: green;
}

.button-add-field {
    width: 130px;
    float: right;
}

.big-letter {
    display: inline;
    font-size: 15pt;
}

.element-in-pop-up {
    width: 60%;
    margin-right: 10%;
    float: right;
}